html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container, .app, .body, #borough_select {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.card{
  height: 30vh;
  width: 20vw;
  background-color: #d6cdee;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px #3a303f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 70%;
  margin: 1rem;
  padding: 1rem;
}