html,
body,
*{
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}
.root{
  --h2: 4.063rem;
}
.container, .card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: 3;
  flex-shrink: 0;
  font-size: var(--h2);
}

.card{
  height: 30vh;
  width: 20vw;
  background-color: #d6cdee;
  font-size: var(--h2);
  border-radius: 1rem;
  box-shadow: 10px 10px 5px #3a303f;
  display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
  font-size: 70%;
  margin: 1rem;
  padding: 1rem;
}
@media (min-width: 30rem) and (max-width: 50rem) {
}